src/main/resources/dictionary.dtd

	<!ELEMENT CAPTION2   (b)*>
	<!ELEMENT H11        (#PCDATA)>
	<!ELEMENT H22        (#PCDATA)>
	<!ELEMENT I2         (#PCDATA)>
	<!ELEMENT TITLE2     (#PCDATA)>
	<!ELEMENT a         (#PCDATA)>
	<!ELEMENT ab        (#PCDATA)>
	<!ELEMENT ab.entry  (ab|ab.full)*>
	<!ELEMENT ab.full   (#PCDATA|it)*>
	<!ELEMENT abbr      (#PCDATA|it|sc)*>
	<!ELEMENT adjf      (#PCDATA)>
	<!ELEMENT altname   (#PCDATA|asp|class|col|cref|ecol|er|fam|gen|hw|ord|spn|sub|subclass|sup)*>
	<!ELEMENT altnpluf  (#PCDATA)>
	<!ELEMENT altsp     (#PCDATA|abbr|as|asp|au|er|ets|ex|grk|hw|it|pluf|plw|pos|pr|sd|wf)*>
	<!ELEMENT amorph    (#PCDATA|adjf|au|er|ex|it|mark|pos|pr|qex|xex)*>
	<!ELEMENT ant       (#PCDATA)>
	<!ELEMENT antiquetype (#PCDATA)>
	<!ELEMENT as        (#PCDATA|altname|ant|au|chform|city|col|contr|corpn|cref|ecol|er|ex|examp|exp|fam|film|fld|frac|fract|gen|grk|hascons|i|it|mark|mathex|mcol|ord|org|partof|persfn|person|pos|ptcl|qex|sc|sd|sig|spn|styp|stype|subs|universbold|xex)*>
	<!ELEMENT asp       (#PCDATA|fam|gen|hw)*>
	<!ELEMENT au        (#PCDATA|br|i|mark)*>
	<!ELEMENT au.entry  (au|au.see|au.who|au.work)*>
	<!ELEMENT au.see    (#PCDATA|i)*>
	<!ELEMENT au.who    (#PCDATA|i)*>
	<!ELEMENT au.work   (#PCDATA|i)*>
	<!ELEMENT b         (#PCDATA|br|ex|i|it|plain|xex)*>
	<!ELEMENT bar       EMPTY>
	<!ELEMENT bio       (#PCDATA|booki|br|city|country|date|edi|er|it|note|org|persfn|person|pr|publ|sc)*>
	<!ELEMENT biography (#PCDATA)>
	<!ELEMENT blacklettertype (#PCDATA)>
	<!ELEMENT body      (br|note|p)*>
	<!ELEMENT bold      (#PCDATA|xex)*>
	<!ELEMENT boldfacetype (#PCDATA)>
	<!ELEMENT book      (#PCDATA)>
	<!ELEMENT booki     (#PCDATA)>
	<!ELEMENT bourgeoistype (#PCDATA|xex)*>
	<!ELEMENT boxtype   (#PCDATA)>
	<!ELEMENT br        EMPTY>
	<!ELEMENT branchof  (#PCDATA)>
	<!ELEMENT caption   (#PCDATA|er|note|qex|spn|xex)*>
	<!ELEMENT cas       (#PCDATA)>
	<!ELEMENT causedby  (#PCDATA|gen|spn)*>
	<!ELEMENT causedbyp (spn)*>
	<!ELEMENT causes    (#PCDATA)>
	<!ELEMENT cd        (#PCDATA|a|abbr|altname|altsp|ant|as|asp|au|book|br|cas|chform|chname|city|class|cnvto|col|compof|contr|country|cp|cref|ecol|er|ets|etsep|ety|ex|examp|exp|fam|fexp|figref|fld|frac|fract|gen|geog|grk|i|illust|isa|it|itran|mark|mathex|matrix2x5|member|members|note|ord|part|partof|parts|pbr|persfn|person|pluf|pos|pr|prod|prodby|prodmac|ptcl|sc|sd|ship|sig|source|specif|spn|state|styp|stype|subclass|supr|table|trademark|universbold|var|varn|xex|xlati)*>
	<!ELEMENT cd2       (#PCDATA|au|cd|ex)*>
	<!ELEMENT centered  (#PCDATA|point16|point18|point26)*>
	<!ELEMENT chform    (#PCDATA|sups)*>
	<!ELEMENT chname    (#PCDATA|it)*>
	<!ELEMENT chreact   (#PCDATA)>
	<!ELEMENT city      (#PCDATA|etsep)*>
	<!ELEMENT clarendontype (#PCDATA)>
	<!ELEMENT class     (#PCDATA|er)*>
	<!ELEMENT cnvto     (#PCDATA)>
	<!ELEMENT col       (#PCDATA|b|cd|it|plain)*>
	<!ELEMENT colbreak  EMPTY>
	<!ELEMENT colf      (#PCDATA)>
	<!ELEMENT colheads  (coltitle)*>
	<!ELEMENT colp      (#PCDATA)>
	<!ELEMENT colret    EMPTY>
	<!ELEMENT coltitle  (#PCDATA)>
	<!ELEMENT column1   (#PCDATA|vertical)*>
	<!ELEMENT comm      (#PCDATA)>
	<!ELEMENT comp      (#PCDATA)>
	<!ELEMENT company   (#PCDATA)>
	<!ELEMENT compof    (#PCDATA)>
	<!ELEMENT conjf     (#PCDATA|i)*>
	<!ELEMENT conseq    (#PCDATA)>
	<!ELEMENT consof    (#PCDATA)>
	<!ELEMENT contains  (#PCDATA)>
	<!ELEMENT contr     (#PCDATA|colf|cref|er|i)*>
	<!ELEMENT contxt    (#PCDATA)>
	<!ELEMENT corpn     (#PCDATA|etsep)*>
	<!ELEMENT corr      (#PCDATA)>
	<!ELEMENT country   (#PCDATA)>
	<!ELEMENT cp        (#PCDATA)>
	<!ELEMENT cref      (#PCDATA|i)*>
	<!ELEMENT cs        (#PCDATA|altname|altsp|au|bold|br|cd|cd2|chreact|col|cref|def|er|ety|ex|fld|it|mark|mcol|note|pbr|plu|pluf|pos|pr|q|qau|qex|rj|sd|see|sn|source|specif|spn|stype|subclass|table|ver|wordforms|xex)*>
	<!ELEMENT ct        (#PCDATA)>
	<!ELEMENT date      (#PCDATA)>
	<!ELEMENT datey     (#PCDATA)>
	<!ELEMENT decf      (#PCDATA)>
	<!ELEMENT def       (#PCDATA|a|abbr|altname|altnpluf|altsp|ant|as|asp|au|b|book|booki|boxtype|br|branchof|causedby|causedbyp|causes|cd|chform|chname|chreact|city|class|cnvto|col|colf|colp|comp|company|compof|contains|contr|corpn|corr|country|cref|date|datey|divof|ecol|er|ets|etsep|ety|ex|examp|exp|fam|film|fld|frac|fract|funct|gen|geog|grk|grp|hascons|haspart|hw|hwf|hypen|i|illu|inv|iref|isa|it|itrans|jour|kingdom|mark|markp|mathex|mcol|member|memberof|members|membof|methodfor|mord|note|ord|org|part|partof|parts|persfn|person|phylum|plu|pluf|plw|pos|pr|prod|prodby|ptcl|publ|q|qex|recipr|river|rj|sansserif|sc|sd|sfield|sig|sim|simto|singf|singw|sn|source|specif|spn|stage|stageof|state|street|styp|stype|sub|subclass|subfam|subord|suborder|subphylum|subs|subtypes|sup|sups|tr|tradename|tran|unit|universbold|usage|usedby|usedfor|uses|var|varn|wordforms|xex|xlati)*>
	<!ELEMENT def2      (#PCDATA|au|def|ety|fld|hw|mark|plu|pluf|pos|pr|rj|sd|see|singf|specif|xex)*>
	<!ELEMENT dictionary (front,body)>
	<!ELEMENT div0      (H11|H22|ab.entry|au.entry|p)*>
	<!ELEMENT divof     (org)*>
	<!ELEMENT ecol      (b)*>
	<!ELEMENT edi       (#PCDATA)>
	<!ELEMENT emits     (#PCDATA)>
	<!ELEMENT englishtype (#PCDATA|sc)*>
	<!ELEMENT ent       (#PCDATA|sub)*>
	<!ELEMENT er        (#PCDATA|as|ets|it|person|pos)*>
	<!ELEMENT ets       (#PCDATA|gen|grk|spn)*>
	<!ELEMENT etsep     (#PCDATA|plain)*>
	<!ELEMENT ety       (#PCDATA|altname|as|asp|au|b|booki|city|company|contr|corpn|country|cref|er|ets|etsep|ex|film|frac|fu|gen|grk|it|itran|itrans|org|persfn|person|pluf|plw|pos|pr|publ|sc|sd|sig|sn|spn|title|tr|tran|xex|xlati)*>
	<!ELEMENT ex        (#PCDATA|plain|subs)*>
	<!ELEMENT examp     (#PCDATA)>
	<!ELEMENT exp       (#PCDATA|frac)*>
	<!ELEMENT extendedtype (#PCDATA)>
	<!ELEMENT fam       (#PCDATA)>
	<!ELEMENT fexp      (#PCDATA|exp)*>
	<!ELEMENT figcap    (#PCDATA)>
	<!ELEMENT figref    (#PCDATA)>
	<!ELEMENT figtitle  (#PCDATA)>
	<!ELEMENT figure    (figtitle)*>
	<!ELEMENT film      (#PCDATA)>
	<!ELEMENT fld       (#PCDATA|er|it|xex)*>
	<!ELEMENT fr        (#PCDATA)>
	<!ELEMENT frac      (#PCDATA)>
	<!ELEMENT fract     (#PCDATA|it|mathex)*>
	<!ELEMENT frenchelzevirtype (#PCDATA)>
	<!ELEMENT front     (div0)*>
	<!ELEMENT fu        (#PCDATA)>
	<!ELEMENT funct     (it|sups)*>
	<!ELEMENT gen       (#PCDATA|etsep)*>
	<!ELEMENT geog      (#PCDATA)>
	<!ELEMENT germantype (point10)*>
	<!ELEMENT gothictype (#PCDATA)>
	<!ELEMENT greatprimertype (#PCDATA)>
	<!ELEMENT grk       (#PCDATA)>
	<!ELEMENT grp       (#PCDATA)>
	<!ELEMENT h1        (#PCDATA)>
	<!ELEMENT h2        (#PCDATA)>
	<!ELEMENT hascons   (#PCDATA|er)*>
	<!ELEMENT haspart   (#PCDATA)>
	<!ELEMENT headrow   (item|mitem)*>
	<!ELEMENT hw        (#PCDATA|sub|supr)*>
	<!ELEMENT hwf       (#PCDATA)>
	<!ELEMENT hypen     (#PCDATA)>
	<!ELEMENT i         (#PCDATA)>
	<!ELEMENT illu      (#PCDATA|er|ex|spn)*>
	<!ELEMENT illust    (#PCDATA|matrix|xex)*>
	<!ELEMENT img       EMPTY>
	<!ELEMENT intensi   (#PCDATA)>
	<!ELEMENT inv       (#PCDATA)>
	<!ELEMENT iref      (#PCDATA)>
	<!ELEMENT isa       (#PCDATA|cref|ecol|fam|phylum)*>
	<!ELEMENT it        (#PCDATA|b|exp)*>
	<!ELEMENT item      (#PCDATA)>
	<!ELEMENT itran     (#PCDATA)>
	<!ELEMENT itrans    (#PCDATA)>
	<!ELEMENT jour      (#PCDATA)>
	<!ELEMENT kingdom   (#PCDATA)>
	<!ELEMENT longprimertype (#PCDATA|it)*>
	<!ELEMENT mark      (#PCDATA|as|er|ex|i|it|plain|plw|pos|singf|xex)*>
	<!ELEMENT markp     (#PCDATA)>
	<!ELEMENT mathex    (#PCDATA|exp|frac|fract|it|ratio|root|sub|subs|vinc)*>
	<!ELEMENT matrix    (row)*>
	<!ELEMENT matrix2x5 (row)*>
	<!ELEMENT mcol      (#PCDATA|altname|au|cd|chform|col|ety|fld|i|it|mark|note|pos|pr|prod|sd|spn|xex)*>
	<!ELEMENT member    (#PCDATA|spn)*>
	<!ELEMENT memberof  (org)*>
	<!ELEMENT members   (#PCDATA)>
	<!ELEMENT membof    (#PCDATA)>
	<!ELEMENT method    (#PCDATA|def|sd)*>
	<!ELEMENT methodfor (#PCDATA)>
	<!ELEMENT mhw       (#PCDATA|ety|hw|i|it|mark|plu|pluf|pos|pr|vmorph|xex)*>
	<!ELEMENT miniontype (#PCDATA|it)*>
	<!ELEMENT mitem     (#PCDATA|colret|item|str)*>
	<!ELEMENT mord      (#PCDATA|er|ets|pos|xex)*>
	<!ELEMENT mstypec   (#PCDATA|it|stypec)*>
	<!ELEMENT mtable    (row)*>
	<!ELEMENT musfig    (#PCDATA)>
	<!ELEMENT nmorph    (#PCDATA|decf|er|plu|pos|pr)*>
	<!ELEMENT nonpareiltype (#PCDATA|ex)*>
	<!ELEMENT note      (#PCDATA|H11|I|TITLE2|a|abbr|altname|altsp|ant|as|asp|au|b|bold|booki|bourgeoistype|br|causedby|cd|centered|chform|chname|chreact|city|class|col|colf|consof|contr|country|cref|ecol|emits|englishtype|er|ets|etsep|ety|ex|examp|exp|extendedtype|fam|figref|fld|frac|fract|gen|geog|germantype|gothictype|grk|h2|hascons|hw|i|img|intensi|inv|iref|isa|it|longprimertype|mark|mathex|matrix|mcol|member|membof|musfig|nonpareiltype|ord|part|partof|parts|pbr|perf|persfn|person|phylum|picatype|pluf|plw|pos|pr|pre|prod|prodby|ptcl|q|qau|qex|rj|sc|sd|see|sig|singw|smpicatype|sn|source|spn|stage|state|styp|stype|suborder|subphylum|subs|subtypes|sup|table|title|tt|unit|universbold|uses|varn|xex)*>
	<!ELEMENT oldenglishtype (#PCDATA)>
	<!ELEMENT oldstyletype (#PCDATA)>
	<!ELEMENT ord       (#PCDATA)>
	<!ELEMENT org       (#PCDATA)>
	<!ELEMENT p         (abbr|altname|altsp|amorph|ant|as|au|b|bio|biography|bold|br|caption|cd|centered|col|colbreak|comm|conseq|contr|contxt|cref|cs|def|def2|ent|er|ets|ety|ex|figcap|figure|fld|fr|fu|gen|grk|h1|hascons|hw|hypen|illu|illust|it|mark|mcol|method|mhw|miniontype|mord|mtable|nmorph|note|pearltype|persfn|person|pl|plu|pluf|plw|pos|pr|pre|q|qau|qex|refs|rj|sd|see|simto|sing|singf|sn|source|specif|stype|subtypes|syn|table|title|usage|ver|vmorph|wn16s|wnote|wns|wordforms|xex)*>
	<!ELEMENT part      (#PCDATA|er)*>
	<!ELEMENT partof    (#PCDATA|er)*>
	<!ELEMENT parts     (#PCDATA)>
	<!ELEMENT pbr       EMPTY>
	<!ELEMENT pearltype (#PCDATA|ex)*>
	<!ELEMENT perf      (#PCDATA)>
	<!ELEMENT persfn    (#PCDATA|etsep|it|xex)*>
	<!ELEMENT person    (#PCDATA|altname|b|ets|etsep|ex|it)*>
	<!ELEMENT phylum    (#PCDATA|er)*>
	<!ELEMENT picatype  (#PCDATA|it)*>
	<!ELEMENT pl        (#PCDATA|plw|pr)*>
	<!ELEMENT plain     (#PCDATA)>
	<!ELEMENT plu       (#PCDATA|au|col|er|hw|i|it|mark|note|pluf|plw|pos|pr|xex)*>
	<!ELEMENT pluf      (#PCDATA)>
	<!ELEMENT plw       (#PCDATA|abbr|it|pr)*>
	<!ELEMENT point1    (bar)*>
	<!ELEMENT point1.5  (bar)*>
	<!ELEMENT point10   (#PCDATA|bar)*>
	<!ELEMENT point11   (bar)*>
	<!ELEMENT point12   (bar)*>
	<!ELEMENT point14   (bar)*>
	<!ELEMENT point16   (#PCDATA|bar)*>
	<!ELEMENT point18   (bar|greatprimertype)*>
	<!ELEMENT point2    (bar)*>
	<!ELEMENT point2.5  (bar)*>
	<!ELEMENT point20   (bar)*>
	<!ELEMENT point26   (#PCDATA)>
	<!ELEMENT point3    (bar)*>
	<!ELEMENT point3.5  (bar)*>
	<!ELEMENT point4    (bar)*>
	<!ELEMENT point4.5  (bar)*>
	<!ELEMENT point5    (bar)*>
	<!ELEMENT point5.5  (bar)*>
	<!ELEMENT point6    (bar)*>
	<!ELEMENT point7    (bar)*>
	<!ELEMENT point8    (bar)*>
	<!ELEMENT point9    (bar)*>
	<!ELEMENT pos       (#PCDATA|i|plain)*>
	<!ELEMENT pr        (#PCDATA|er|i|it|mark|pos|xex)*>
	<!ELEMENT pre       (#PCDATA|b|br|headrow|row|source|table|tt)*>
	<!ELEMENT prod      (#PCDATA|col|ecol)*>
	<!ELEMENT prodby    (#PCDATA|gen|spn)*>
	<!ELEMENT prodmac   (#PCDATA)>
	<!ELEMENT ptcl      (#PCDATA)>
	<!ELEMENT publ      (#PCDATA|it)*>
	<!ELEMENT q         (#PCDATA|a|altname|au|b|br|chform|city|company|corpn|country|er|ex|examp|fam|frac|gen|grk|h2|i|it|mark|note|ord|org|persfn|person|publ|qau|qex|qpers|qperson|rj|sb|sc|spn|stype|title|xex)*>
	<!ELEMENT qau       (#PCDATA|book|br|er|i|publ)*>
	<!ELEMENT qex       (#PCDATA|plain)*>
	<!ELEMENT qpers     (#PCDATA)>
	<!ELEMENT qperson   (#PCDATA)>
	<!ELEMENT ratio     (#PCDATA)>
	<!ELEMENT recipr    (#PCDATA)>
	<!ELEMENT ref       (#PCDATA)>
	<!ELEMENT refs      (#PCDATA|booki|br|person)*>
	<!ELEMENT river     (#PCDATA)>
	<!ELEMENT rj        (#PCDATA|au|mark|qau|ver)*>
	<!ELEMENT root      (#PCDATA|exp)*>
	<!ELEMENT row       (#PCDATA|antiquetype|blacklettertype|boldfacetype|br|clarendontype|frenchelzevirtype|gothictype|item|oldenglishtype|oldstyletype|scripttype|td|typewritertype)*>
	<!ELEMENT sansserif (#PCDATA)>
	<!ELEMENT sb        EMPTY>
	<!ELEMENT sc        (#PCDATA)>
	<!ELEMENT scripttype (#PCDATA)>
	<!ELEMENT sd        (#PCDATA)>
	<!ELEMENT see       (#PCDATA|ant|cref|er|ex|pos|simto|xex)*>
	<!ELEMENT sfield    (#PCDATA)>
	<!ELEMENT ship      (#PCDATA)>
	<!ELEMENT sig       (#PCDATA|chform|i|it)*>
	<!ELEMENT sim       (#PCDATA)>
	<!ELEMENT simto     (#PCDATA|persfn)*>
	<!ELEMENT sing      (#PCDATA|it|pr|singf|singw)*>
	<!ELEMENT singf     (#PCDATA)>
	<!ELEMENT singw     (#PCDATA|it)*>
	<!ELEMENT smpicatype (#PCDATA|it)*>
	<!ELEMENT sn        (#PCDATA)>
	<!ELEMENT source    (#PCDATA)>
	<!ELEMENT specif    (#PCDATA)>
	<!ELEMENT spn       (#PCDATA|ets|plain)*>
	<!ELEMENT stage     (#PCDATA)>
	<!ELEMENT stageof   (gen)*>
	<!ELEMENT state     (#PCDATA)>
	<!ELEMENT str       (td)*>
	<!ELEMENT street    (#PCDATA)>
	<!ELEMENT styp      (#PCDATA|class|col|cref|ecol|er|ex|gen|hw|ord|spn)*>
	<!ELEMENT stype     (#PCDATA|col|colf|ecol|er|ex|gen|it|ord|spn|sub|suborder|subs)*>
	<!ELEMENT stypec    (#PCDATA)>
	<!ELEMENT sub       (#PCDATA)>
	<!ELEMENT subclass  (#PCDATA|er|stype)*>
	<!ELEMENT subfam    (#PCDATA)>
	<!ELEMENT subord    (#PCDATA)>
	<!ELEMENT suborder  (#PCDATA)>
	<!ELEMENT subphylum (#PCDATA|er)*>
	<!ELEMENT subs      (#PCDATA|frac)*>
	<!ELEMENT subtypes  (#PCDATA|cd|col|mcol|mstypec|pbr|sd|spn|stypec|xex)*>
	<!ELEMENT sup       (#PCDATA)>
	<!ELEMENT supr      (#PCDATA)>
	<!ELEMENT sups      (#PCDATA)>
	<!ELEMENT syn       (#PCDATA|as|au|b|chname|class|er|fam|gen|ord|org|person|pos|sd|spn|subclass|subfam|subord|subs|varn|xex)*>
	<!ELEMENT table     (#PCDATA|CAPTION2|altname|br|caption|centered|colheads|column1|er|frac|it|point1|point1.5|point10|point11|point12|point14|point16|point18|point2|point2.5|point20|point3|point3.5|point4|point4.5|point5|point5.5|point6|point7|point8|point9|pre|row|tabtitle|title|tr|ttitle|xex)*>
	<!ELEMENT tabtitle  (#PCDATA)>
	<!ELEMENT td        (#PCDATA|i|pre)*>
	<!ELEMENT th        (#PCDATA|i)*>
	<!ELEMENT title     (#PCDATA)>
	<!ELEMENT tr        (#PCDATA|mitem|str|td|th)*>
	<!ELEMENT trademark (#PCDATA)>
	<!ELEMENT tradename (#PCDATA)>
	<!ELEMENT tran      (#PCDATA)>
	<!ELEMENT tt        (#PCDATA|b|br|colf|ct|er|it|pbr|sc)*>
	<!ELEMENT ttitle    (#PCDATA)>
	<!ELEMENT typewritertype (#PCDATA)>
	<!ELEMENT uex       (#PCDATA)>
	<!ELEMENT unit      (#PCDATA)>
	<!ELEMENT universbold (#PCDATA)>
	<!ELEMENT usage     (#PCDATA|as|asp|au|br|contr|cref|def|er|ets|ex|it|pbr|person|pos|q|ref|rj|singw|sn|source|stype|uex|xex)*>
	<!ELEMENT usedby    (#PCDATA|er)*>
	<!ELEMENT usedfor   (#PCDATA)>
	<!ELEMENT uses      (#PCDATA)>
	<!ELEMENT var       (#PCDATA)>
	<!ELEMENT varn      (#PCDATA)>
	<!ELEMENT ver       (#PCDATA)>
	<!ELEMENT vertical  (#PCDATA)>
	<!ELEMENT vinc      (#PCDATA)>
	<!ELEMENT vmorph    (#PCDATA|altsp|au|conjf|er|ets|i|it|mark|pos|pr|usage|xex)*>
	<!ELEMENT wf        (#PCDATA)>
	<!ELEMENT wn16s     (#PCDATA)>
	<!ELEMENT wnote     (#PCDATA)>
	<!ELEMENT wns       (#PCDATA)>
	<!ELEMENT wordforms (#PCDATA|altsp|au|col|def|er|ety|fld|hw|it|mark|pos|pr|rj|wf)*>
	<!ELEMENT xex       (#PCDATA|b)*>
	<!ELEMENT xlati     (#PCDATA)>

	<!ATTLIST a
				href    CDATA #IMPLIED>
	<!ATTLIST div0
				name    CDATA #IMPLIED>
	<!ATTLIST img
				align   CDATA #IMPLIED
				src     CDATA #IMPLIED>
	<!ATTLIST table
				FRAME   CDATA #IMPLIED
				RULES   CDATA #IMPLIED>
	<!ATTLIST th
				COLSPAN CDATA #IMPLIED>

	<!ENTITY gcide_authorities SYSTEM "gcide_authorities.xml">
	<!ENTITY gcide_abbreviations SYSTEM "gcide_abbreviations.xml">
	<!ENTITY gcide_a SYSTEM "gcide_a.xml">
	<!ENTITY gcide_b SYSTEM "gcide_b.xml">
	<!ENTITY gcide_c SYSTEM "gcide_c.xml">
	<!ENTITY gcide_d SYSTEM "gcide_d.xml">
	<!ENTITY gcide_e SYSTEM "gcide_e.xml">
	<!ENTITY gcide_f SYSTEM "gcide_f.xml">
	<!ENTITY gcide_g SYSTEM "gcide_g.xml">
	<!ENTITY gcide_h SYSTEM "gcide_h.xml">
	<!ENTITY gcide_i SYSTEM "gcide_i.xml">
	<!ENTITY gcide_j SYSTEM "gcide_j.xml">
	<!ENTITY gcide_k SYSTEM "gcide_k.xml">
	<!ENTITY gcide_l SYSTEM "gcide_l.xml">
	<!ENTITY gcide_m SYSTEM "gcide_m.xml">
	<!ENTITY gcide_n SYSTEM "gcide_n.xml">
	<!ENTITY gcide_o SYSTEM "gcide_o.xml">
	<!ENTITY gcide_p SYSTEM "gcide_p.xml">
	<!ENTITY gcide_q SYSTEM "gcide_q.xml">
	<!ENTITY gcide_r SYSTEM "gcide_r.xml">
	<!ENTITY gcide_s SYSTEM "gcide_s.xml">
	<!ENTITY gcide_t SYSTEM "gcide_t.xml">
	<!ENTITY gcide_u SYSTEM "gcide_u.xml">
	<!ENTITY gcide_v SYSTEM "gcide_v.xml">
	<!ENTITY gcide_w SYSTEM "gcide_w.xml">
	<!ENTITY gcide_x SYSTEM "gcide_x.xml">
	<!ENTITY gcide_y SYSTEM "gcide_y.xml">
	<!ENTITY gcide_z SYSTEM "gcide_z.xml">


